body {
  font-family: Impact;
  color: black;
  background-color:grey;
}

.roomname {
  font-size: 30px;
  text-align: center;
}

.room {
  position: relative;
  height: 200px;
  border: 1px solid black;
   background-image:url("space-invader.png");
}

.description {
  padding: 10px;
}
#door-image{
   height: 150px;
   bottom:2;
  width:200px;
  position:absolute;