body {
  font-family: Impact;
  background-color: linen;
}

.roomname {
  font-size: 30px;
  text-align: center;
}

.room {
  position: relative;
  height: 200px;
  width:450px;
  border: 1px solid black;
  background-image:url("wallpaper.png");
  align-items:center;
}

.description {
  padding: 10px;
}

#doorlink{
  text-align:center;
}
#door {
  position: relative;
  height: 200px;
 }
#doorimage{
  height: 150px;
  width:200px;
  position:absolute;
  top:50;
}
#doorforgame{
   height: 150px;
   top:2;
   left:250;
  width:200px;
  position:absolute;